---
import Layout from "../layouts/Layout.astro";
import CardLink from "../components/card-link.astro";
import linkedinLogo from '../assets/linkedin.svg';
import githubLogo from '../assets/github-dark.svg';
import profileLogo from '../assets/icon.webp';
import profileLogoSmall from '../assets/icon-small.webp';

---

<Layout title="FuSoraS | GitHub, Linkein">
	<div class="card">
		<div class="card-main card-username">
			<picture>
				<source srcset=`${profileLogoSmall.src}` media="(max-width: 700px)">
				<img src=`${profileLogo.src}` alt="logo del perfil">
			  </picture>
			<h1>FuSoraS</h1>
			<p>Desarrollador web</p>
		</div>
		<div class="card-main card-links">
			<CardLink link="https://www.linkedin.com/in/fusoras/" plataform="linkedIn" sourceImg={linkedinLogo} />
			<CardLink link="https://github.com/FuSoraS/" plataform="GitHub" sourceImg={githubLogo} />
		</div>
	</div>
	<style>
		:root{
			--size-border: 15px 15px;
		}
		.card {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			text-align: center;
			width: min(450px, 90%);
			color: #fff;
			margin: auto;
			box-shadow: 0 0 20px #000;
			margin-top: 40px;
			border-radius: var(--size-border) var(--size-border);
		}
		.card-main {
			width: 100%;
		}
		.card-username {
			background: linear-gradient(132deg, #000000,#044214,#025f3e);
			border-radius: var(--size-border) 0 0;
			padding-bottom: 20px;
		}
		.card-username h1 {
			font-size: 36px;
			margin-top: 0;
		}
		picture img {
			width: 30%;
			border-radius: 50%;
			margin: 25px 0;
		}
		.card-links {
			min-height: 200px;
			padding: 20px;
			background-color: #2e2d2d;
			border-radius: 0 0 var(--size-border);
		}

	</style>
</Layout>
