---
import Layout from "../layouts/Layout.astro"
import CardLink from "../components/card-link.astro"
import linkedinLogo from '../assets/linkedin.svg'
import githubLogo from '../assets/github-dark.svg'
---

<Layout>
	<div class="card">
		<div class="card-username">
			<img src="" alt="logo del perfil">
			<h1>FuSoraS</h1>
			<p>Desarrollador web</p>
		</div>
		<div class="card-links">
			<CardLink link="https://www.linkedin.com/in/fusoras/" plataform="linkedIn" source={linkedinLogo} />
			<CardLink link="https://github.com/FuSoraS/" plataform="GitHub" source={githubLogo} />
		</div>
	</div>
	<style>
		.card {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			text-align: center;
			width: 400px;
			color: #fff;
			margin: auto;
		}
		.card-username {
			margin: 50px;
		}		

	</style>
</Layout>
