---
import googleLogo from '../assets/google.svg'
const { link, plataform } = Astro.props;
---
<a href=`${link}` target="_blank" rel="noreferrer">{plataform} <img src={googleLogo.src} width="20px" height="20px" alt=`logo de ${plataform}`/></a>


<style>
    a {
        border: solid white 3px;
        border-radius: 25px;
        padding: 20px 50px;
    }
</style>