---
const { link, plataform, sourceImg } = Astro.props;
---
<a href=`${link}` target="_blank" rel="noreferrer">{plataform} <img src=`${sourceImg.src}` width="20px" height="20px" alt=`logo de ${plataform}`/></a>

<style>
    a {
        font-size: 15px;
        font-weight: bold;
        border: solid #fff 3px;
        border-radius: 25px;
        padding: 7px 20px;
        color: #fff;
        display: inline-flex; 
        text-decoration: none;
        margin: 5px;
        transition: background-color 0.3s ease-out;
    }
    a:hover {
        background-color: #8abb77;
    }
    img {
        margin-left: 15px;
    }

</style>